# Budget Analysis

---

## Environment Setup

In [1]:
# Initial Imports
import os
import plaid
import requests
import datetime
import json
import pandas as pd
from dotenv import load_dotenv

%matplotlib inline

In [2]:
# Helper functions

def pretty_print_response(response):
    """
    This function formats a JSON file to pretty printing it in the screen.
    """
    print(json.dumps(response, indent=4, sort_keys=True))

In [3]:
# Set environment variables from the .env file
load_dotenv()

True

In [4]:
# Extract API keys from environment variables
PLAID_CLIENT_ID = os.getenv("PLAID_CLIENT_ID")
PLAID_SECRET = os.getenv("PLAID_SBX_SECRET_KEY")
PLAID_PUBLIC_KEY = os.getenv("PLAID_PUBLIC_KEY")

# print(type(PLAID_CLIENT_ID), type(PLAID_SECRET), type(PLAID_PUBLIC_KEY))

---

## Plaid Access Token

In this section, you will use the `plaid-python` API to generate the correct authentication tokens to access data in the free developer Sandbox. This mimics how you might connect to your own account or a customer account, but due to privacy issues, this homework will only require connecting to and analyzing the fake data from the developer sandbox that Plaid provides. 

Complete the following steps to generate an access token:

1. Create a client to connect to plaid

2. Use the client to generate a public token and request the following items: ['transactions', 'income', 'assets']

3. Exchange the public token for an access token

4. Test the access token by requesting and printing the available test accounts

### 1. Create a client to connect to plaid

In [5]:
# Create the client object
client = plaid.Client(client_id = PLAID_CLIENT_ID, secret = PLAID_SECRET, 
                     public_key = PLAID_PUBLIC_KEY, environment = 'sandbox')

In [6]:
# Set the institution id
INSTITUTION_ID = "ins_109508"

### 2. Generate a public token

In [8]:
# Create the public token
create_tkn_response = client.Sandbox.public_token.create(INSTITUTION_ID, ['transactions','income','assets'])

# Print the public token
print(create_tkn_response)

{'public_token': 'public-sandbox-6258ba99-880b-4562-8f14-f90f3c17539c', 'request_id': 'XcrEEbuil0CbBJ7'}

### 3. Exchange the public token for an access token

In [9]:
# Retrieve the access token
exchange_response = client.Item.public_token.exchange(create_tkn_response['public_token'])

# Print the access toke
print(exchange_response)

{'access_token': 'access-sandbox-623b9435-8cf0-4242-bbec-4f3c1c853806', 'item_id': 'ygeDnzX3VzSjq49M7Wr1UzyxvG1XEQuyeyowq', 'request_id': 'oiKXvrtZi35WQEA'}

In [11]:
# Store the access token in a Python variable
access_token = exchange_response['access_token']
# print(access_token)

### 4. Fetch Accounts

In [12]:
# Retrieve accounts
client.Accounts.get(access_token)

# Print accounts

{'accounts': [{'account_id': 'P45jDXxebXs5Vxb8peQZidqxBdygXVC7vmaKJ',
   'balances': {'available': 100,
    'current': 110,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '0000',
   'name': 'Plaid Checking',
   'official_name': 'Plaid Gold Standard 0% Interest Checking',
   'subtype': 'checking',
   'type': 'depository'},
  {'account_id': 'jdlknX9ZbXhAPz9J1dokFEBkME5Dj3C1AbdQx',
   'balances': {'available': 200,
    'current': 210,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '1111',
   'name': 'Plaid Saving',
   'official_name': 'Plaid Silver Standard 0.1% Interest Saving',
   'subtype': 'savings',
   'type': 'depository'},
  {'account_id': '7jELD3xQp3sEdMvWo5ybtroGwr1yXvfgpVPww',
   'balances': {'available': None,
    'current': 1000,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '2222',
   'name': 'Plaid CD',
   'official_name': 'Plaid Bronze Standard 0.2% Interest CD',
   'subtype': 'cd',
   'type': 'depository'},
  {'account_id': 'er5yWQGavQHja8GKlnpQU3EoG3LZljHLknQxP',
   'balances': {'available': None,
    'current': 410,
    'iso_currency_code': 'USD',
    'limit': 2000,
    'unofficial_currency_code': None},
   'mask': '3333',
   'name': 'Plaid Credit Card',
   'official_name': 'Plaid Diamond 12.5% APR Interest Credit Card',
   'subtype': 'credit card',
   'type': 'credit'},
  {'account_id': 'QN57DgdVJgs5laeyrgmZioKyaoz7NbHpeAXjR',
   'balances': {'available': 43200,
    'current': 43200,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '4444',
   'name': 'Plaid Money Market',
   'official_name': 'Plaid Platinum Standard 1.85% Interest Money Market',
   'subtype': 'money market',
   'type': 'depository'},
  {'account_id': 'ZL5pWDZgqDsKPRkMpEGWFLNZxLoJ9Xcglkpxk',
   'balances': {'available': None,
    'current': 320.76,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '5555',
   'name': 'Plaid IRA',
   'official_name': None,
   'subtype': 'ira',
   'type': 'investment'},
  {'account_id': 'Mx5RDGzw7GS5Db9xzkGoix6EJxkr4Du9yZvmw',
   'balances': {'available': None,
    'current': 23631.9805,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '6666',
   'name': 'Plaid 401k',
   'official_name': None,
   'subtype': '401k',
   'type': 'investment'},
  {'account_id': '1x1LE3qyl3Sqk47n6lWmFjDwmjML61C5ovRDn',
   'balances': {'available': None,
    'current': 65262,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '7777',
   'name': 'Plaid Student Loan',
   'official_name': None,
   'subtype': 'student',
   'type': 'loan'},
  {'account_id': 'L35QDyrjVyT598bvXZj4i8DxA845e9FPazM3V',
   'balances': {'available': None,
    'current': 56302.06,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '8888',
   'name': 'Plaid Mortgage',
   'official_name': None,
   'subtype': 'mortgage',
   'type': 'loan'}],
 'item': {'available_products': ['auth',
   'balance',
   'credit_details',
   'identity',
   'investments',
   'liabilities'],
  'billed_products': ['assets', 'income', 'transactions'],
  'consent_expiration_time': None,
  'error': None,
  'institution_id': 'ins_109508',
  'item_id': 'ygeDnzX3VzSjq49M7Wr1UzyxvG1XEQuyeyowq',
  'webhook': ''},
 'request_id': 'QCA6xCnwSwMWaW8'}

---

# Account Transactions with Plaid

In this section, you will use the Plaid Python SDK to connect to the Developer Sandbox account and grab a list of transactions. You will need to complete the following steps:


1. Use the access token to fetch the transactions for the last 90 days

2. Print the categories for each transaction type

3. Create a new DataFrame using the following fields from the JSON transaction data: `date, name, amount, category`. (For categories with more than one label, just use the first category label in the list)

4. Convert the data types to the appropriate types (i.e. datetimeindex for the date and float for the amount)

### 1. Fetch the Transactions for the last 90 days

In [20]:
# Set the start and end date 90 days from today
start_date = '{:%Y-%m-%d}'.format(datetime.datetime.now() + datetime.timedelta(-90))
end_date = '{:%Y-%m-%d}'.format(datetime.datetime.now())

# Retrieve the transactions for the last 90 days
transaction_response = client.Transactions.get(access_token,start_date,end_date)

# Print the transactions
pretty_print_response(transaction_response['transactions'][:2])

[
    {
        "account_id": "er5yWQGavQHja8GKlnpQU3EoG3LZljHLknQxP",
        "account_owner": null,
        "amount": 500,
        "authorized_date": null,
        "category": [
            "Food and Drink",
            "Restaurants"
        ],
        "category_id": "13005000",
        "date": "2020-07-24",
        "iso_currency_code": "USD",
        "location": {
            "address": null,
            "city": null,
            "country": null,
            "lat": null,
            "lon": null,
            "postal_code": null,
            "region": null,
            "store_number": null
        },
        "merchant_name": "Tectra Inc",
        "name": "Tectra Inc",
        "payment_channel": "in store",
        "payment_meta": {
            "by_order_of": null,
            "payee": null,
            "payer": null,
            "payment_method": null,
            "payment_processor": null,
            "ppd_id": null,
            "reason": null,
            "reference_number": null
        },
        "pending": false,
        "pending_transaction_id": null,
        "transaction_code": null,
        "transaction_id": "5NgJmGBxoGsEgNRKmJ95tdLjJ4aAVWCZ8EorX",
        "transaction_type": "place",
        "unofficial_currency_code": null
    },
    {
        "account_id": "er5yWQGavQHja8GKlnpQU3EoG3LZljHLknQxP",
        "account_owner": null,
        "amount": 2078.5,
        "authorized_date": null,
        "category": [
            "Payment"
        ],
        "category_id": "16000000",
        "date": "2020-07-23",
        "iso_currency_code": "USD",
        "location": {
            "address": null,
            "city": null,
            "country": null,
            "lat": null,
            "lon": null,
            "postal_code": null,
            "region": null,
            "store_number": null
        },
        "merchant_name": null,
        "name": "AUTOMATIC PAYMENT - THANK",
        "payment_channel": "other",
        "payment_meta": {
            "by_order_of": null,
            "payee": null,
            "payer": null,
            "payment_method": null,
            "payment_processor": null,
            "ppd_id": null,
            "reason": null,
            "reference_number": null
        },
        "pending": false,
        "pending_transaction_id": null,
        "transaction_code": null,
        "transaction_id": "l4KJn5GWZ5sl73GNgxrQu5bN6yx4VzFZR5y33",
        "transaction_type": "special",
        "unofficial_currency_code": null
    }
]

### 2. Print the categories for each transaction

In [24]:
# Create a for-loop to print the categories for each transaction
for item in transaction_response['transactions']:
    print(item['category'])

['Food and Drink', 'Restaurants']
['Payment']
['Food and Drink', 'Restaurants', 'Fast Food']
['Shops', 'Sporting Goods']
['Payment', 'Credit Card']
['Travel', 'Taxi']
['Transfer', 'Debit']
['Transfer', 'Deposit']
['Recreation', 'Gyms and Fitness Centers']
['Travel', 'Airlines and Aviation Services']
['Food and Drink', 'Restaurants', 'Fast Food']
['Food and Drink', 'Restaurants', 'Coffee Shop']
['Food and Drink', 'Restaurants']
['Transfer', 'Credit']
['Travel', 'Airlines and Aviation Services']
['Travel', 'Taxi']
['Food and Drink', 'Restaurants']
['Payment']
['Food and Drink', 'Restaurants', 'Fast Food']
['Shops', 'Sporting Goods']
['Payment', 'Credit Card']
['Travel', 'Taxi']
['Transfer', 'Debit']
['Transfer', 'Deposit']
['Recreation', 'Gyms and Fitness Centers']
['Travel', 'Airlines and Aviation Services']
['Food and Drink', 'Restaurants', 'Fast Food']
['Food and Drink', 'Restaurants', 'Coffee Shop']
['Food and Drink', 'Restaurants']
['Transfer', 'Credit']
['Travel', 'Airlines and Aviation Services']
['Travel', 'Taxi']
['Food and Drink', 'Restaurants']
['Payment']
['Food and Drink', 'Restaurants', 'Fast Food']
['Shops', 'Sporting Goods']
['Payment', 'Credit Card']
['Travel', 'Taxi']
['Transfer', 'Debit']
['Transfer', 'Deposit']
['Recreation', 'Gyms and Fitness Centers']
['Travel', 'Airlines and Aviation Services']
['Food and Drink', 'Restaurants', 'Fast Food']
['Food and Drink', 'Restaurants', 'Coffee Shop']
['Food and Drink', 'Restaurants']
['Transfer', 'Credit']
['Travel', 'Airlines and Aviation Services']
['Travel', 'Taxi']

### 3. Create a new DataFrame using the following fields from the JSON transaction data: `date`, `name`, `amount`, `category`. 

(For categories with more than one label, just use the first category label in the list)

In [44]:
# Define an empty DataFrame and set the columns as date, name, amount, and category
df = pd.DataFrame(columns = ['date', 'name', 'amount', 'category'])

# Retrieve all the transactions
transactions = transaction_response['transactions']

# Populate the transactions DataFrame with the transactions data
dates = []
names = []
amounts = []
categories = [] 
for item in transactions: 
    dates.append(item['date'])
    names.append(item['name'])
    amounts.append(item['amount'])
    categories.append(item['category'][0])

df['date'] = pd.to_datetime(dates)
df['name'] = pd.Series(names)
df['amount'] = pd.Series(amounts)
df['category'] = pd.Series(categories)

# Display sample data from the DataFrame    
df.head(5)

        date                          name  amount        category
0 2020-07-24                    Tectra Inc   500.0  Food and Drink
1 2020-07-23     AUTOMATIC PAYMENT - THANK  2078.5         Payment
2 2020-07-23                           KFC   500.0  Food and Drink
3 2020-07-23          Madison Bicycle Shop   500.0           Shops
4 2020-07-14  CREDIT CARD 3333 PAYMENT *//    25.0         Payment

### 4. Convert the data types to the appropriate types 

(i.e. datetimeindex for the date and float for the amount)

In [45]:
# Display data types
df.dtypes

date        datetime64[ns]
name                object
amount             float64
category            object
dtype: object

In [ ]:
# Make any required data type transformation

In [46]:
# Set the date column as index
df.set_index('date', inplace=True)
df.sort_index(inplace=True)

# Display sample data
df.head(5)

                              name  amount        category
date
2020-04-28  Uber 072515 SF**POOL**    6.33          Travel
2020-04-30         United Airlines  500.00          Travel
2020-05-10            INTRST PYMNT   -4.22        Transfer
2020-05-11                SparkFun   89.40  Food and Drink
2020-05-12               Starbucks    4.33  Food and Drink

---

# Income Analysis with Plaid

In this section, you will use the Plaid Sandbox to complete the following:

1. Determine the previous year's gross income and print the results

2. Determine the current monthly income and print the results

3. Determine the projected yearly income and print the results

In [55]:
# Fetch de income data

# Set the start and end date 90 days from today
# start_date = '{:%Y-%m-%d}'.format(datetime.datetime.now() + datetime.timedelta(-90))
# end_date = '{:%Y-%m-%d}'.format(datetime.datetime.now())

# Retrieve the transactions for the last 90 days
# income_response = client.Incomes

# Print the transactions
# pretty_print_response(income_response['income'][:2])

client.Income.get(access_token)




# Print the income data

{'income': {'income_streams': [{'confidence': 0.99,
    'days': 690,
    'monthly_income': 500,
    'name': 'UNITED AIRLINES'}],
  'last_year_income': 6000,
  'last_year_income_before_tax': 7285,
  'max_number_of_overlapping_income_streams': 1,
  'number_of_income_streams': 1,
  'projected_yearly_income': 6085,
  'projected_yearly_income_before_tax': 7389},
 'request_id': 'arKhsIe25mSWsr3'}

In [ ]:
# Determine the previous year's gross income and print the results

In [ ]:
# Determine the current monthly income and print the results

In [ ]:
# Determine the projected yearly income and print the results

---

# Budget Analysis
In this section, you will use the transactions DataFrame to analyze the customer's budget

1. Calculate the total spending per category and print the results (Hint: groupby or count transactions per category)

2. Generate a bar chart with the number of transactions for each category

3. Calulate the expenses per month

4. Plot the total expenses per month

### Calculate the expenses per category

In [ ]:
# Compute the total expenses per category

# Display the expenses per catefory

In [ ]:
# Create a spending categories pie chart.

### Calculate the expenses per month

In [ ]:
# Create a DataFrame with the total expenses

# Display sample data

In [ ]:
# Create a spending per month bar chart